.rtl{
  direction: rtl;
  text-align: center;
}
img{
 padding: 25px 40px;
 width: 100%;
}
h4{
  padding-top: 50px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 15px;
}
p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
