<div class="dis_n">
    <nav class="navbar mw-100 navbar-expand-sm nav">
      <ul class="navbar-nav">
        <li class="nav-item">
            <ul id="main_menu" class="mr-4">
              <li class="main_list">
                <div class="btn-group drop dropdown" mdbDropdown>
                  <div mdbBtn class="color-d">
                    <mdb-icon class="but" fas icon="bars"></mdb-icon>
                    <span class="px-2">دسته بندی ها</span>
                  </div>

                  <div class="dropdown-menu drop-d dropdown-content">
                    <a class="dropdown-item li-nav2" href="#">
                    <span class="span-1">خانه</span>
                    </a>
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item" href="#">
                      <span class="span-1">فروشگاه</span>
                    </a>
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item" href="#">
                      <span class="span-1">وبلاگ</span>
                    </a>
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item" href="#">
                      <span class="span-1">مکان ها و مناطق</span>
                    </a>
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item" href="#">
                      <span class="span-1">قوانین و تذکرات</span>
                    </a>
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item" href="#">
                      <span class="span-1">اعضای صنعت</span>
                    </a>
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item" href="#">
                      <span class="span-1">درباره ما</span>
                    </a>
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item" href="#">
                      <span class="span-1">تبلیغات</span>
                    </a>
                    <div class="divider dropdown-divider"></div>
                    <a class="dropdown-item" href="#">
                      <span class="span-1">تماس با ما</span>
                    </a>
                  </div>
                </div>
              </li>
            </ul>

        </li>
        <li class="nav-item li-nav">
          <a class="nav-link" href="#">اتاق خواب</a>
          <ul class="megaMenu">
            <li>
              <img src="https://iran-choob.com/UploadedFiles/ProductCategory/1095/wood-textured-bedroom-wall.jpg?w=128&h=128" alt="">
            </li>
            <li>
              <h4>سرویس خواب</h4>
              <a href="#">ست سرویس خواب</a>
              <a href="#">تخت خواب</a>
              <a href="#">دراور</a>
              <a href="#">قاب و آینه</a>
              <a href="#">سرویس خواب</a>
              <a href="#">پاتختی</a>
              <a href="#">صندلی</a>
            </li>
            <li>
              <h4>اکسسوری اتاق خواب</h4>
              <a href="#">کمد</a>
              <a href="#">درائر سرویس خواب</a>
              <a href="#">کتابخانه</a>
            </li>
            <li>
            <li>
              <h4>جانبی اتاق خواب</h4>
              <a href="#">آینه قدی</a>
              <a href="#">پاف سرویس خواب</a>
            </li>
          </ul>
        </li>
        <li class="nav-item li-nav">
          <a class="nav-link" href="#">کالای خواب</a>
          <ul class="megaMenu">
            <li>
              <img src="https://iran-choob.com/UploadedFiles/ProductCategory/1094/custom_image.jpg?w=128&h=128" alt="">
            </li>
            <li>
              <h4>باکس و فریم</h4>
              <a href="#">جک سرویس خواب</a>
            </li>
            <li>
              <h4>بالشت</h4>
              <a href="#">بالشت رویا</a>
              <a href="#">بالشت ویستر</a>
            </li>
            <li>
            <li>
              <h4>تشک</h4>
              <a href="#">تشک رویا</a>
              <a href="#">تشک خوش خواب</a>
              <a href="#">تشک ویستر</a>
              <a href="#">تشک وگال</a>
              <a href="#">تشک رویا آرامش</a>
              <a href="#">تشک رویال آسایش</a>
            </li>
          </ul>
        </li>
        <li class="nav-item li-nav">
          <a class="nav-link" href="#">اداری</a>
          <ul class="megaMenu">
            <li>
              <img src="https://iran-choob.com/UploadedFiles/ProductCategory/1093/custom_image.jpg?w=128&h=128" alt="">
            </li>
            <li>
              <h4>صندلی و مبل اداری</h4>
              <a href="#">صندلی کنفرنس</a>
              <a href="#">صندلی کارمندی</a>
              <a href="#">صندلی اداری</a>
              <a href="#">مبل اداری</a>
            </li>
            <li>
              <h4>اکسسوری اتاق خواب</h4>
              <a href="#">کمد</a>
              <a href="#">درائر سرویس خواب</a>
              <a href="#">کتابخانه</a>
            </li>
            <li>
            <li>
              <h4>میز اداری</h4>
              <a href="#">میز مدیریتی</a>
              <a href="#">میز کارشناسی</a>
              <a href="#">میز کارمندی</a>
              <a href="#">میز کنفرانس</a>
              <a href="#">میز مداور</a>
              <a href="#">میز مبل اداری</a>
            </li>
          </ul>
        </li>
        <li class="nav-item li-nav">
          <a class="nav-link" href="#">آشپزخانه و غذا خوری</a>
          <ul class="megaMenu">
            <li>
              <img src="https://iran-choob.com/UploadedFiles/ProductCategory/1092/custom_image.jpg?w=128&h=128" alt="">
            </li>
            <li>
              <h4>نهار خوری</h4>
              <a href="#">ست ناهار خوری</a>
              <a href="#">صندلی ناهار خوری</a>
              <a href="#">میز ناهار خوری</a>
            </li>
            <li>
              <h4>اکسسوری آشپزخانه</h4>
              <a href="#">بوفه آشپزخانه</a>
              <a href="#">نیمکت نهار خوری</a>
            </li>
            <li>
            <li>
              <h4>جانبی آشپزخانه</h4>
              <a href="#">پاف آشپزخانه</a>
            </li>
          </ul>
        </li>
        <li class="nav-item li-nav">
          <a class="nav-link" href="#">کودک و نوجوان</a>
          <ul class="megaMenu">
            <li>
              <img src="https://iran-choob.com/UploadedFiles/ProductCategory/1091/model7.ir-%D8%A7%DB%8C%D8%AF%D9%87-%D9%87%D8%A7%DB%8C%DB%8C-%D8%B2%DB%8C%D8%A8%D8%A7-%D8%A8%D8%B1%D8%A7%DB%8C-%D8%B7%D8%B1%D8%A7%D8%AD%DB%8C-%D8%A7%D8%AA%D8%A7%D9%82-%D9%86%D9%88%D8%B2%D8%A7%D8%AF-3.jpg?w=128&h=128" alt="">
            </li>
            <li>
              <h4>جانبی کودک و نوجوان</h4>
              <a href="#">میز و صندلی کودک</a>
              <a href="#">گنجه</a>
              <a href="#">مبل کودک</a>
              <a href="#">گهواره نوزاد</a>
            </li>
            <li>
              <h4>سرویس خواب نوجوان</h4>
              <a href="#">ست سرویس خواب نوجوان</a>
              <a href="#">تخت خواب نوجوان</a>
              <a href="#">دراور و قاب آینه نوجوان</a>
              <a href="#">پاتختی نوجوان</a>
              <a href="#">کمد نوجوان</a>
              <a href="#">میز تحریر نوجوان</a>
              <a href="#">کتابخانه نوجوان</a>
            </li>
            <li>
            <li>
              <h4>سرویس خواب نوزاد</h4>
              <a href="#">ست سرویس خواب نوزاد</a>
              <a href="#">تخت خواب نوزاد</a>
              <a href="#">کمد نوزاد</a>
              <a href="#">ویترین نوزاد</a>
              <a href="#">دراور نوزاد</a>
            </li>
            <li>
              <h4>سرویس خواب کودک</h4>
              <a href="#">ست سرویس خواب کودک</a>
              <a href="#">تخت خواب کودک</a>
              <a href="#">کمد کودک</a>
              <a href="#">ویترین کودک</a>
              <a href="#">دراور کودک</a>
              <a href="#">پاتختی کودک</a>
            </li>
          </ul>
        </li>
        <li class="nav-item li-nav">
          <a class="nav-link" href="#">پاسیو</a>
          <ul class="megaMenu">
            <li>
              <img src="https://iran-choob.com/UploadedFiles/ProductCategory/1090/custom_image.jpg?w=128&h=128" alt="">
            </li>
            <li>
              <h4>مبلمان پاسیو</h4>
              <a href="#">مبل پاسیو</a>
              <a href="#">نهارخوری پاسیو</a>
              <a href="#">میز پاسیو</a>
              <a href="#">صندلی پاسیو</a>
            </li>
            <li>
              <h4>اکسسوری پاسیو</h4>
              <a href="#">صندلی ریلکسی</a>
            </li>
            <li>
            <li>
              <h4>جانبی پاسیو</h4>
              <a href="#">بالشت پاسیو</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
</div>
