.axed{
  padding: 0;
}
.row_1{
  padding:0px 80px;
}
h2{
  color: rgb(170, 170, 170);
  //display: inline;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}
p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
